<div class="notif-wrap">
  <div class="notif-header">
    <div>
      <p class="notif-title">Notification Center</p>
      <p class="notif-sub" *ngIf="unreadCount">{{ unreadCount }} unread notification{{ unreadCount > 1 ? 's' : '' }}</p>
    </div>
    <button *ngIf="unreadCount" class="btn-mark-all" (click)="markAllRead()">Mark all read</button>
  </div>

  <div *ngIf="loading" class="notif-loading"><div class="spinner"></div></div>

  <div *ngIf="!loading" class="notif-list" [@listAnim]="notifications.length">
    <div *ngFor="let n of notifications"
         class="notif-item"
         [class.unread]="!n.read"
         [style.border-left-color]="severityColor(n.severity)"
         (click)="markRead(n.id)">
      <div class="notif-icon" [style.background]="severityBg(n.severity)">
        {{ typeIcon(n.type) }}
      </div>
      <div class="notif-body">
        <p class="notif-item-title">{{ n.title }}</p>
        <p class="notif-msg">{{ n.message }}</p>
        <p class="notif-time">{{ n.time }}</p>
      </div>
      <div class="notif-right">
        <span class="severity-tag" [style.color]="severityColor(n.severity)" [style.background]="severityBg(n.severity)">
          {{ n.severity }}
        </span>
        <span *ngIf="!n.read" class="unread-dot"></span>
      </div>
    </div>
  </div>
</div>
